@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 section-1">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Toggle Red LED</h2>
                <p class="text-muted lead">
                    Click this button that will send a post request to an API
                    which syncs with the database to update the boolean value of the LED.
                    You can also toggle the LED in real time from our mobile app. The
                    Raspberry Pi syncs every second, so the LED will update instantly.
                </p>
                <button class="btn btn-danger toggle">@ViewData["Status"]</button>
            </div>
        </div>
    </div>
</section>

<section class="py-5 section-1">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Toggle Red LED</h2>
                <p class="text-muted lead">
                    Click this button that will send a post request to an API
                    which syncs with the database to update the boolean value of the LED.
                    You can also toggle the LED in real time from our mobile app. The
                    Raspberry Pi syncs every second, so the LED will update instantly.
                </p>
                <button class="btn btn-danger toggle">@ViewData["Status"]</button>
            </div>
        </div>
    </div>
</section>

<section class="py-5 section-1">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Toggle Red LED</h2>
                <p class="text-muted lead">
                    Click this button that will send a post request to an API
                    which syncs with the database to update the boolean value of the LED.
                    You can also toggle the LED in real time from our mobile app. The
                    Raspberry Pi syncs every second, so the LED will update instantly.
                </p>
                <button class="btn btn-danger toggle">@ViewData["Status"]</button>
            </div>
        </div>
    </div>
</section>

<section class="py-5 section-1">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Toggle Red LED</h2>
                <p class="text-muted lead">
                    Click this button that will send a post request to an API
                    which syncs with the database to update the boolean value of the LED.
                    You can also toggle the LED in real time from our mobile app. The
                    Raspberry Pi syncs every second, so the LED will update instantly.
                </p>
                <button class="btn btn-danger toggle">@ViewData["Status"]</button>
            </div>
        </div>
    </div>
</section>

<section class="py-5 section-1">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Toggle Red LED</h2>
                <p class="text-muted lead">
                    Click this button that will send a post request to an API
                    which syncs with the database to update the boolean value of the LED.
                    You can also toggle the LED in real time from our mobile app. The
                    Raspberry Pi syncs every second, so the LED will update instantly.
                </p>
                <button class="btn btn-danger toggle">@ViewData["Status"]</button>
            </div>
        </div>
    </div>
</section>